.banner {
  width: 750px;
  margin: 0 auto;
}
.banner-logo {
  float: left;
}
.banner-title {
  float: left;
  font-size: xx-large;
  margin: 49px 0;
  color: deeppink;
}

.target {
  height: 200px;
  margin: 15px auto;
}
